<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:a="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="17325HunterJohnson.ChatTailorAI"
    Publisher="CN=7E9AA0BA-92B9-4274-B9BB-343DA3A9765C"
    Version="2.3.0.0" />

  <mp:PhoneIdentity PhoneProductId="145d555a-796f-464e-88f3-ff3829795b85" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>ChatTailor AI</DisplayName>
    <PublisherDisplayName>Hunter Johnson</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
	  a:SupportsMultipleInstances="true"		
      EntryPoint="ChatTailorAI.Uwp.App">
		
      <uap:VisualElements
        DisplayName="ChatTailor AI"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="ChatTailorAI"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png"  BackgroundColor="#282828"/>
      </uap:VisualElements>
		<Extensions>
			<uap:Extension Category="windows.protocol">
				<uap:Protocol Name="ms-app" />
			</uap:Extension>
		</Extensions>
    </Application>
  </Applications>

  <Capabilities>
	  <Capability Name="internetClient" />
	  <uap:Capability Name="picturesLibrary"/>
	  <DeviceCapability Name="microphone"/>
  </Capabilities>
</Package>